body {
    background-color: #f7f8fa;
    font-family: Arial, sans-serif;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #509BF5;
}

.welcome-text {
    font-size: 32px;
    color: #ffffff;
}

.my-calculator-input-style {
    width: 60px !important;
    text-align: center;
    margin: auto;
}

.my-calculator-link-style{
    border: 0;
    margin: auto;
    text-align: center;
}

table tr th {
    font-size: 70%;
}

table tr td {
    font-size: 70%;
}